@model WebBanSach.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<h2>@ViewBag.Title.</h2>


<div class="login_register_wrap section" style="margin-top:200px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-md-10">
                <div class="login_wrap">
                    <div class="padding_eight_all bg-white">

                        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <h4>Đổi Mật mẩu</h4>
                            <hr />
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        <label>Mật khẩu cũ </label>
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                        </div>
                    </div>
                            <div class="form-group">
                               <label>Mật khẩu mới </label>
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Nhập lại mật khẩu  </label>
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Change password" class="btn btn-default" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}