@model IEnumerable<WebBanSach.Models.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title text-uppercase text-danger"><strong>Danh sách đơn hàng đã duyệt</strong> </h3>
    </div>
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead class="text-center">
                <tr>
                    <th class="text-danger" width="120px">
                     Mã đơn hàng
                    </th>
                   
                    <th>
                        Email
                    </th>
                    <th>
                        Ngày tạo
                    </th>
                    <th>
                        Tình trạng đơn hàng
                    </th>
                    <th width="200px">Tuỳ chọn</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    dynamic status = "";
                    <tr>
                        <td class="text-center">
                           
                                @Html.DisplayFor(modelItem => item.ID)
                           
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.AspNetUsers.Email)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.OrderDate)
                        </td>
                        <td class="text-center">
                             <p>Đang xử lý.</p>
                        </td>
                        <td class="text-center">
                            <a class="btn btn-secondary btn-sm" onclick=Approve(this,'@item.ID') role="button">
                                Duyệt
                            </a>
                            <a class="btn  btn-info  btn-sm" href="@Url.Action("Details","Orders",new { id=item.ID })" role="button">
                                <i class="fas fa-eye"></i>
                            </a>
                            <a class="btn btn-danger btn-sm" onclick=deleteRow(this,'@item.ID') role="button">
                                <i class="fas fa-trash-alt"> Hủy</i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    function deleteRow(e, idOrderProduct) {
        $.ajax({
            url: '@Url.Action("DeleteAjax", "Orders")',
            type: 'POST',
            async: false,
            cache: false,
            data: { id: idOrderProduct },
            success: function () {
                $(e).parents('tr').remove();
            },
            error: function (request, status, error) {
                alert('error');
            }
        });
    }
    function Approve(e, idOrderProduct) {
        $.ajax({
            url: '@Url.Action("Approve", "Orders")',
            type: 'POST',
            async: false,
            cache: false,
            data: { id: idOrderProduct },
            success: function () {
                $(e).parents('tr').remove();
                $.toast({
                    heading: 'Thành công',
                    text: 'Đã duyệt thành công',
                    showHideTransition: 'slide',
                    icon: 'success',
                    position: 'top-right'
                })
            },
            error: function (request, status, error) {
                alert('error');
            }
        });
    }
</script>