@model WebBanSach.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid">
    <div class="main-body">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-8">
                            <strong class="text-uppercase text-danger">Thông tin Sach</strong>
                        </div>
                        <div class="col-sm-4 text-lg-right">
                            <a class="btn btn-info btn-sm " href="@Url.Action("Edit","Product",new { id = Model.ID })" role="button">
                                <i class="fas fa-edit"></i>
                            </a>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Mã</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            @Html.DisplayFor(model => model.ID)
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Tên sách</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            @Html.DisplayFor(model => model.ProductName)
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Tên thể loại</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            @Html.DisplayFor(model => model.Category.CateName)
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Tác giả</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            @Html.DisplayFor(model => model.Author)
                        </div>
                    </div>
                    <hr>

                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Review</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            @Html.DisplayFor(model => model.Detail)
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Nhà xuất bản</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            @Html.DisplayFor(model => model.Supplier.SuplierName)
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Giá</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            @Html.DisplayFor(model => model.ListPrice)
                        </div>
                    </div>
                    <hr>

                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Trạng thái</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            @if (Model.Status == 1)
                            {
                                <p>Hoạt động</p>
                            }
                            else
                            {
                                <p>Không hoạt động</p>
                            }

                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Hình</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            @{
                                if (Model.ImgProduct.Count() > 0)
                                {
                                    for (int i = 0; i < Model.ImgProduct.ToList().Count; i++)
                                    {
                                       
                                            <img src="@Url.Content(((Model.ImgProduct).ToList())[i].Link)" width="150" />
                                       

                                    }

                                }
                                else
                                {
                                    <p class="text-danger">Lỗi đường dẫn</p>
                                }
                            }
                        </div>
                    </div>
                    <hr>

                </div>
            </div>
        </div>
    </div>

</div>